* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  font-family: 'Times New Roman', Times, serif;
  color: white;
  font-size: 20px;
}
html,
body {
  height: 100%;
}
body {
  background-color: rgba(39, 38, 38, 0.973);
  display: flex;
}
.nav-wrapper {
  position: relative;
}
.nav-wrapper ul.toogle {
  position: absolute;
  top: 15px;
  left: 15px;
  width: 10vw;
  height: 10vw;
  border-radius: 45%;
  background-color: rgba(255, 255, 255, 0.197);
  text-align: center;
}
.nav-wrapper ul.toogle li {
  position: absolute;
  width: 7vw;
  height: 1vw;
  background-color: orange;
}
.nav-wrapper ul.toogle li:nth-child(1) {
  margin-top: 2.5vw;
  margin-left: 1.5vw;
}
.nav-wrapper ul.toogle li:nth-child(2) {
  margin-top: 4.5vw;
  margin-left: 1.5vw;
}
.nav-wrapper ul.toogle li:nth-child(3) {
  margin-top: 6.5vw;
  margin-left: 1.5vw;
}
.nav-wrapper ul.toogle:active + .nav {
  display: block;
}
.nav-wrapper ul.toogle:active {
  left: 200px;
}
.nav-wrapper .nav {
  display: none;
  width: 200px;
  height: 100%;
  min-height: 900px;
  background-color: rgba(99, 99, 99, 0.611);
  padding-top: 20px;
  margin-right: 20px;
}
.nav-wrapper .nav .logo {
  width: 70px;
  height: 70px;
  margin: 0 auto;
  border-radius: 60%;
  background-image: url('../image/logo.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.nav-wrapper .nav .top-nav {
  width: 150px;
  margin: 0 auto;
}
.nav-wrapper .nav .top-nav li {
  float: left;
  margin-top: 10px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.2);
}
.nav-wrapper .nav .top-nav li:nth-child(1) {
  font-style: normal;
}
.nav-wrapper .nav .top-nav li a {
  display: block;
  width: 150px;
  line-height: 40px;
  text-align: center;
  font-size: 20px;
  font-weight: bold;
  color: white;
}
.nav-wrapper .nav .top-nav li a:active {
  background-color: rgba(71, 70, 70, 0.904);
  color: orange;
}
.nav-wrapper .nav .top-nav li a i {
  font-size: 20px;
  margin-right: 20px;
}
.selected,
.nav-wrapper .nav .top-nav li:nth-child(1) {
  color: orange !important;
  background-color: rgba(71, 70, 70, 0.904);
}
.main {
  float: left;
  width: 80%;
  margin: 0 auto;
  margin-top: 10vw;
}
.main .passage {
  float: left;
  width: 100%;
}
.main .passage h1 {
  font-size: 10vw;
  font-weight: 700;
  margin-top: 30px;
  margin-bottom: 30px;
  /* between paragraphs */
}
.main .passage h1 .Nero {
  color: orange;
  font-style: italic;
  font-weight: 500;
}
.main .passage h2 {
  font-size: 8vw;
  font-weight: 600;
  margin-bottom: 30px;
  /* between paragraphs */
}
.main .passage h2 .designer {
  color: orange;
  font-style: bold;
}
.main .passage p {
  font-size: 5vw;
  line-height: 32px;
  /* within paragraph */
  margin-bottom: 30px;
  /* between paragraphs */
}
.main .passage .button a {
  display: block;
  width: 50vw;
  height: 15vw;
  line-height: 15vw;
  background-color: orange;
  font-size: 4vw;
  border-radius: 20px;
  text-align: center;
  margin-top: 10px;
}
/*
less than 768 超小屏幕: max-width: 768px
Larger than 768 小屏幕: min-width: 768px
> 992 中型: min-width=992px
>1200 大屏幕 min-width=1200px
*/
@media only screen {
}
@media only screen and (min-width: 768px) {
  .nav-wrapper ul.toogle {
    display: none;
  }
  .nav-wrapper .nav {
    display: block;
    width: 200px;
    height: 100%;
    min-height: 1200px;
    background-color: rgba(99, 99, 99, 0.611);
    padding-top: 20px;
    margin-right: 20px;
  }
  .nav-wrapper .nav .logo {
    width: 150px;
    height: 150px;
  }
  .nav-wrapper .nav .top-nav {
    margin: 0;
  }
  .nav-wrapper .nav .top-nav li {
    margin-left: 25px;
    margin-top: 50px;
  }
  .nav-wrapper .nav .top-nav li a {
    display: block;
    width: 150px;
    line-height: 60px;
    text-align: center;
    font-size: 20px;
  }
  .nav-wrapper .nav .top-nav li a:hover {
    background-color: rgba(71, 70, 70, 0.904);
    color: orange;
  }
  .nav-wrapper .nav .top-nav li a i {
    font-size: 20px;
  }
  .main {
    margin-top: 70px;
  }
  .main .passage {
    float: left;
    width: 55%;
  }
  .main .passage h1 {
    font-size: 60px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 20px;
    /* between paragraphs */
  }
  .main .passage h2 {
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
  }
  .main .passage p {
    font-size: 30px;
    line-height: 32px;
    /* within paragraph */
    margin-bottom: 20px;
    /* between paragraphs */
  }
  .main .passage .button a {
    width: 180px;
    height: 80px;
    line-height: 80px;
    font-size: 23px;
  }
  .main .profile-img-wrapper {
    float: right;
    width: 40%;
    height: 450px;
    background-color: red;
    margin-top: 0;
    margin-right: 20px;
  }
  .main .profile-img-wrapper .profile-img {
    width: 100%;
    height: 100%;
    background-color: yellow;
    background-image: url('../image/image04.jpg');
    background-position: center;
    background-size: cover;
  }
}
@media only screen and (min-width: 1024px) {
  .nav-wrapper .nav {
    width: 250px;
    padding-top: 50px;
    height: 100%;
    min-height: 1080px;
  }
  .nav-wrapper .nav .logo {
    width: 100px;
    height: 100px;
  }
  .nav-wrapper .nav .top-nav li {
    margin-top: 15px;
    margin-left: 25px;
  }
  .nav-wrapper .nav .top-nav li a {
    width: 200px;
    line-height: 60px;
    font-size: 20px;
  }
  .main {
    margin-top: 70px;
  }
  .main .passage {
    float: left;
    width: 55%;
  }
  .main .passage h1 {
    font-size: 60px;
    font-weight: 700;
    margin-top: 0;
    margin-bottom: 30px;
    /* between paragraphs */
  }
  .main .passage h2 {
    font-size: 40px;
    font-weight: 600;
    margin-bottom: 40px;
  }
  .main .passage p {
    font-size: 20px;
    line-height: 32px;
    /* within paragraph */
    margin-bottom: 20px;
    /* between paragraphs */
  }
  .main .passage .button a {
    width: 150px;
    height: 50px;
    line-height: 50px;
    font-size: 20px;
  }
  .main .profile-img-wrapper {
    float: right;
    width: 40%;
    height: 450px;
  }
}
@media only screen and (min-width: 2560px) {
  .nav-wrapper .nav {
    min-height: 1440px;
  }
}
/*# sourceMappingURL=./home.css.map */