*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
    // font style
    font-family: 'Times New Roman', Times, serif;
    color:white;
    font-size: 20px;
}
html, body {
    height: 100%;
  }

body{
    background-color: rgba(39, 38, 38, 0.973);
    display: flex;
}
// main
.main{
    float: left;
    width: 80%;
    margin: 0 auto;
    // 避開toogle height 10vw
    margin-top: 15vw;
    .passage{
        float: left;
        width: 100%;
        .row1{
            float:left;
            width: 100%;
            h1{
                font-size: 10vw; 
                font-weight: 700;
                // margin between the top side
                margin-top: 0px;
                margin-bottom: 30px; /* between paragraphs */
            }
        }
        
        .row2{
            width: 100%;
            float: left;
            h2{
                font-size: 5vw;
            }
            .item{
                float: left;
                width: 100%;
                margin-bottom:30px;
                & a div{
                    text-align: center;
                    width: 50%;
                    margin: 0 auto;
                    height: 200px;
                    border: 5px solid rgba(255, 255, 255, 0.526);
                    background-clip: border-box;
                    border-radius: 10px;
                }
                .item-img1{
                        background-image: url('../image/port1.jpg');
                        background-size: 100% 80%;
                        background-repeat: no-repeat;
                        background-position: center;
                }
                .item-img2{
                    background-image: url('../image/port2.jpg');
                    background-size: 100% 80%;
                    background-repeat: no-repeat;
                    background-position: center;
                }
                .item-img3{
                    background-image: url('../image/port3.jpg');
                    background-size: 100% 80%;
                    background-repeat: no-repeat;
                    background-position: center;
                }
            }
            
        }
        
    }

}
//media queries
/*
less than 768 超小屏幕: max-width: 768px
Larger than 768 小屏幕: min-width: 768px
> 992 中型: min-width=992px
>1200 大屏幕 min-width=1200px
*/
@media only screen{
    // Tablet
    @media (min-width:768px){
        // main
        .main{
            //previous: 100%
            width: 100%;
            margin: 0 auto;
            // 避開toogle height 15vw
            margin-top: 40px;
            .passage{
                .row1{
                    h1{
                        // previous 10vw
                        font-size: 50px;
                    }
                }
                
                .row2{
                    .item{
                        & a div{
                            // previous 50%
                            width: 70%;
                        }
                    }
                }
            }
        }
    }
    // Laptop 
    @media (min-width:1024px){
        // main
        .main{
            //previous: 100%
            width:100%;
            margin: 0 auto;
            margin-top: 40px;
            .passage{
                .row1{
                    h1{
                        // previous 50px
                        font-size: 40px;
                    }
                }
                
                .row2{
                    width: 100%;
                    h2{
                        font-size: 20px;
                    }
                    .item{
                        // previosu 100%
                        width: 33%;
                        & a div{
                            // previous 200px
                            height: 300px;
                        }
                    }
                }
            }
        }
    }
    // Laptop L
    @media (min-width:1440px){
    }
    // 2K
    @media (min-width:2560px){
    }
}